* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section#main {
    margin: 0 auto;
    text-align: center;
}

.welcome {
    margin-top: 25px;
    font-size: 35px;
    margin-bottom: 40px;
}

.add-button {
    text-align: center;
    border-radius: 15px;
    width: 250px;
    height: 50px;
    font-size: 24px;
}

.addCont {
    width: 300px;
    height: 75px;
}

.buttons {
    margin-top: 15px;
    margin: 15px auto 0px auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.cancelBnt {
    width: 80px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
}

.saveBtn {
    width: 140px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
}

#addInput {
    width: 300px;
    height: 50px;
    border: 2px solid gray;
    border-radius: 15px;
    font-size: 24px;
    padding-left: 10px;
}

#list {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.message {
    margin-top: 50px;
    font-size: 30px;
}

.del,
.check,
.checked {
    width: 35px;
    height: 35px;
    display: inline-block;
}

.check {
    background-image: url('../assets/img/todo-s.png');
}

.checked {
    background-image: url('../assets/img/done-s.png');
}

.del {
    background-image: url('../assets/img/remove-s.jpg');
}

.desc {
    width: 300px;
    height: 35px;
    display: inline-block;
    font-size: 30px;
}

.checked-desc {
    background-color: gray;
}

.row {
    display: flex;
    justify-content: stretch;
    margin: 15px;
}
