* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#main-container {
    margin: 0 auto;
    margin-top: 50px;
    width: 600px;
    height: 570px;
    border: 2px solid grey;
    border-radius: 1%;
}

.header-title {
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    font-weight: 700;
}

.addInput {
    display: flex;
    margin-top: 35px;
    padding-left: 15px;
    padding-right: 10px;
    justify-content: flex-start;
}

.header-input {
    border: 2px solid gray;
    width: 92%;
    padding-left: 5px;
    font-size: 20px;
    height: 29px;
}

.error-message {
    position: absolute;
    font-weight: 100;
    font-size: 15px;
    animation: blinker 1.5s linear infinite;
    right: 0;
    left: 0;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.header-line {
    border-top: 2px solid gray;
    margin: 15px 18px 0px 15px;
}


.addInput .material-icons {
    padding-left: 2px;
}


#add-btn {
    height: 0px;
    width: 0px;
}

#add-btn:active {
    transform: translate(0, 1px);
}

/* list  */
.material-icons {
    font-size: 30px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#list {
    margin: 0 auto;
    width: 95%;
    height: 350px;
    padding-top: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

p.item-text {
    font-size: 20px;
}

.item-text {
    display: inline-block;
    width: 505px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.right {
    width: 30px;
    height: 30px;
}

.item-text {
    display: inline-block;
    padding-left: 5px;
}


/* footer */
.footer {
    height: 75px;
    text-align: center;
}

.cat-img {
    height: 70px;
    cursor: pointer;
}